@font-face {
    font-family: 'ProductSansRegular';
    src: url('../fonts/ProductSansRegular.ttf') format('truetype');
}

body {
    font-family: 'Roboto', sans-serif;
    transition: opacity .5s ease-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

html, body {
    height: 100%;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none !important;
}

* {
    outline: 0 !important;
}

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

.page {
    float: left;
    width: 100%;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, .2);
    background-image: url('../images/loading.gif');
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
}

@import 'header';
@import 'home';
@import 'list-stores';
